.blueButton {
    color: #f2efea;
    font-family: 'archivoSemiBold';
    font-size: 28px;
    text-align: center;
    background-color: #023143;
    display: block;
    width: 392px;
    margin: auto;
    padding: 25px 1rem;
}

@media screen and (max-width: 768px) {
    .blueButton {
        width: 280px;
        font-size: 24px;
        padding: 1rem;
    }
}