@import "tailwindcss";
/**************************
Fonts
**************************/
/* Merlo - Primary Fonts */
@font-face {
    font-family: "Merlo";
    src: url("../fonts/MerloRegular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/MerloRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/MerloRegular.otf") format("opentype"), /* Open Type Font */
      url("../fonts/MerloRegular.svg") format("svg"), /* Legacy iOS */
      url("../fonts/MerloRegular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/MerloRegular.woff") format("woff"), /* Modern Browsers */
      url("../fonts/MerloRegular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Merlo";
    src: url("../fonts/MerloMedium.eot"); /* IE9 Compat Modes */
    src: url("../fonts/MerloMedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/MerloMedium.otf") format("opentype"), /* Open Type Font */
      url("../fonts/MerloMedium.svg") format("svg"), /* Legacy iOS */
      url("../fonts/MerloMedium.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/MerloMedium.woff") format("woff"), /* Modern Browsers */
      url("../fonts/MerloMedium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'archivoThin';
    src: url('../fonts/project-fonts/Archivo-Thin.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'archivoLight';
    src: url('../fonts/project-fonts/Archivo-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'archivoSemiBold';
    src: url('../fonts/project-fonts/Archivo-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'archivoBold';
    src: url('../fonts/project-fonts/Archivo-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

:root {
    --primary-color: #231F20;
    --white-color: #ffffff;

    --primary-font: 'Merlo', serif; /* title */
    --secondary-font: 'Nexa', sans-serif; /* text */
    --color-wsp: #5bb947;

    --transition-t1s-all: all 0.8s ease-in-out 0s;
}

.only-mobile {
    display: none;
}

@media screen and (max-width: 480px) {
    .only-mobile {
        display: block;
    }
}

/**************************
Typography
**************************/
html {
    font-size: 16px;
}

body {
    background-color: #f2efea;
    color: var(--white-color);
    font-family: var(--primary-font);
    font-size: 1em;
    line-height: 21px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

b, strong {
	color: inherit;
	font-weight: 700;
}

.ffArchivoThin {
    font-family: 'archivoThin', Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.ffArchivoLight {
    font-family: 'archivoLight', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.ffArchivoRegular {
    font-family: 'archivoRegular', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.ffArchivoSemiBold {
    font-family: 'archivoSemiBold', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.ffArchivoBold {
    font-family: 'archivoBold', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

/* Link */
a {
    text-decoration: none;
    color: inherit;
}

a:link,
a:visited,
a:hover,
a:active {
    outline: none;
    text-decoration: none;
}

.svg-inline--fa {
    display: inline-block;
    color: var(--white-color);
    width: 1em;
    height: 1em;
}

/* Lists */
ul {
    list-style-type: none;
    margin: 0 0;
    padding: 0;
}

ul:first-child {
	margin-top: 18px;
}

@layer base {
    p {
      @apply leading-6 mb-4;
    }

    ul li {
        font-weight: normal;
        line-height: 28px;
        margin-bottom: 28px;
        position: relative;
    }
}

p:first-child {
    margin-top: 0;
}

span {
	color: inherit;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .md\:text-4xl {
      line-height: 2.5rem;
    }
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-image {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.close {
    color: #fff;
    font-size: 3em;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}