---
import bannerMalecon from "@assets/banner-proyecto-pacific-soul-departamento-frente-playa.jpg"
---
<section class="pt-12">
    <div data-aos="fade-up" class="aos-init aos-animate">
        <img class="w-full aspect-square md:aspect-auto object-cover object-center" src={bannerMalecon.src} loading="lazy">
    </div>
</section>