---
import bannerFrenteMar from '@assets/banner-departamentos-venta-frente-mar.jpg';
---
<section class="py-4 md:py-12">
    <div data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="aos-init aos-animate">
        <img class="w-full aspect-[1/.7] md:aspect-auto object-cover object-center"
            src={bannerFrenteMar.src} alt="banner departamentos venta frente mar" loading="lazy">
    </div>
</section>