---
import bannerVistaMar from '@assets/banner-departamento-vista-mar.jpg';
---
<section class="md:py-12">
    <div data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="aos-init aos-animate">
        <img class="w-full aspect-[1/.6] md:aspect-auto object-cover object-[-15rem] md:object-center" src={bannerVistaMar.src} alt="banner departamento vista mar" loading="lazy">
    </div>
</section>