---
import "@styles/brochure.css"; 
---
<section class="py-6 md:py-12">
    <div data-aos="fade-up" class="container mx-auto aos-init aos-animate">
        <a class="blueButton" href="https://llosaedificaciones.com/pdf/proyecto-pacific-soul-llosa-edificaciones.pdf" target="_blank" rel="noopener noreferrer">
            Descargar brochure
        </a>
    </div>
</section>