---
import banner from '@assets/banner-venta-departamento-malecon-miraflores.jpg';
---
<section class="py-12">
    <div data-aos="fade-right" class="container-tw ml-auto aos-init aos-animate">
        <div class="flex flex-col xl:flex-row items-center justify-end gap-6">
            <div class="max-w-[300px]">
                <p class="ffArchivoThin text-[28px] text-right leading-tight md:leading-normal text-[#023143] px-4">
                    Disfruta <br>
                    de atardeceres espectaculares desde PACIFIC SOUL
                </p>
            </div>
            <img class="aspect-[1/.5] object-cover object-left md:aspect-auto xl:w-3/4 2xl:w-auto" src={banner.src} alt="banner venta departamento malecon miraflores">
        </div>
    </div>
</section>