---
import "@styles/flatsGallery.css"; 
---
<section class="py-12">
    <div class="container mx-auto">
        <img data-aos="fade-up" class="w-64 md:w-auto mx-auto aos-init aos-animate" src="https://llosaedificaciones.com/img/proyecto_pacific_soul/logo-pacifc-soul-blue.png" alt="logo">
        <div data-aos="fade-up" class="flex items-center justify-center gap-8 my-8 aos-init aos-animate">
            <button class="flatsButton flatsButton--blue" type="button">
                Malecón de la Reserva 161
            </button>
            <!-- <button class="flatsButton flatsButton--transparent" type="button">
              Calle Buenos Aires 284
            </button> -->
        </div>

        <!-- slider planos malecon de la reserva -->
        <div class="swiper swiperPlanos swiper-initialized swiper-horizontal swiper-backface-hidden">
            <div class="swiper-wrapper" id="swiper-wrapper-e5747354a61052eb1" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-1950px, 0px, 0px); transition-delay: 0ms;">
                <!-- slide plano malecon tipo 1 -->
                <div class="swiper-slide" role="group" aria-label="1 / 6" style="width: 975px;">
                    <div class="md:h-[553px] flex flex-col items-center md:flex-row md:items-end justify-center gap-8 lg:gap-20">
                        <img class="h-80 md:h-auto" src="https://llosaedificaciones.com/img/proyecto_pacific_soul/planos/plano-malecon-t01.png" alt="plano">
                        <div class="h-full flex flex-col items-start justify-between relative px-4">
                            <img class="h-28 md:h-auto absolute right-8 md:relative mb-4" src="https://llosaedificaciones.com/img/proyecto_pacific_soul/planos/mini-plano-malecon-t01.png" alt="plano">
                            <div class="max-w-[330px]">
                                <h4 class="ffBeatriceLight text-xl md:text-4xl text-[#023143]">Tipo 01</h4>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-2 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] leading-normal m-0">
                                    3 Dormitorios <br>
                                    Área techada: 143.55 m² <br>
                                    Área Ocupada: 143.55 m²
                                </p>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-3 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] mb-0">Dptos. 401, 501, 601, 701, 801, 901, 1001, 1101, 1201, 1301, 1401, 1501, 1601, 1701, 1801, 1901, 2001, 2101
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slide plano malecon tipo 2-->
                <div class="swiper-slide swiper-slide-prev" role="group" aria-label="2 / 6" style="width: 975px;">
                    <div class="md:h-[553px] flex flex-col items-center md:flex-row md:items-end justify-center gap-8 lg:gap-20">
                        <img class="h-80 md:h-auto" src="https://llosaedificaciones.com/img/proyecto_pacific_soul/planos/plano-malecon-t02.png" alt="plano">
                        <div class="h-full flex flex-col items-start justify-between relative px-4">
                            <img class="h-28 md:h-auto absolute right-8 md:relative mb-4" src="https://llosaedificaciones.com/img/proyecto_pacific_soul/planos/mini-plano-malecon-t02.png" alt="plano">
                            <div class="max-w-[330px]">
                                <h4 class="ffBeatriceLight text-xl md:text-4xl text-[#023143]">Tipo 02</h4>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-2 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] leading-normal m-0">
                                    2 Dormitorios <br>
                                    Área techada: 113.22 m² <br>
                                    Área Ocupada: 113.22 m²
                                </p>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-3 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] mb-0">Dptos. 402, 502, 602, 702, 802, 902, 1002, 1102, 1202, 1302, 1402, 1502, 1602, 1702, 1802, 1902, 2002, 2102, 2202
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slide plano malecon tipo 3 -->
                <div class="swiper-slide swiper-slide-active" role="group" aria-label="3 / 6" style="width: 975px;">
                    <div class="md:h-[553px] flex flex-col items-center md:flex-row md:items-end justify-center gap-8 lg:gap-20">
                        <img class="h-80 md:h-auto" src="https://llosaedificaciones.com/img/proyecto_pacific_soul/planos/plano-malecon-t03.png" alt="plano">
                        <div class="h-full flex flex-col items-start justify-between relative px-4">
                            <img class="h-28 md:h-auto absolute right-8 md:relative mb-4" src="https://llosaedificaciones.com/img/proyecto_pacific_soul/planos/mini-plano-malecon-t03.png" alt="plano">
                            <div class="max-w-[330px]">
                                <h4 class="ffBeatriceLight text-xl md:text-4xl text-[#023143]">Tipo 03</h4>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-2 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] leading-normal m-0">
                                    3 Dormitorios <br>
                                    Área techada: 121.97 m² <br>
                                    Área Ocupada: 121.97 m²
                                </p>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-3 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] mb-0">Dptos. 403, 503, 603, 703, 803, 903, 1003, 1103, 1203, 1303, 1403, 1503, 1603, 1703, 1803, 1903, 2003, 2103, 2203
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slide plano malecon tipo 4 -->
                <div class="swiper-slide swiper-slide-next" role="group" aria-label="4 / 6" style="width: 975px;">
                    <div class="md:h-[553px] flex flex-col items-center md:flex-row md:items-end justify-center gap-8 lg:gap-20">
                        <img class="h-80 md:h-auto" src="https://llosaedificaciones.com/img/proyecto_pacific_soul/planos/plano-malecon-t04-071124.png" alt="plano">
                        <div class="h-full flex flex-col items-start justify-between relative px-4">
                            <img class="h-28 md:h-auto absolute right-8 md:relative mb-4" src="https://llosaedificaciones.com/img/proyecto_pacific_soul/planos/mini-plano-malecon-t04.png" alt="plano">
                            <div class="max-w-[330px]">
                                <h4 class="ffBeatriceLight text-xl md:text-4xl text-[#023143]">Tipo 04</h4>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-2 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] leading-normal m-0">
                                    2 Dormitorios <br>
                                    Área techada: 87.53 m² <br>
                                    Área Ocupada: 87.53 m²
                                </p>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-3 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] mb-0">Dptos. 204, 304, 404, 504, 604, 704, 804, 904, 1104, 1204, 1304, 1404, 1504, 1604, 1704, 1804, 1904, 2004, 2104
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slide plano malecon tipo 5 -->
                <div class="swiper-slide" role="group" aria-label="5 / 6" style="width: 975px;">
                    <div class="md:h-[553px] flex flex-col items-center md:flex-row md:items-end justify-center gap-8 lg:gap-20">
                        <img class="h-80 md:h-auto" src="https://llosaedificaciones.com/img/proyecto_pacific_soul/planos/plano-malecon-t05.png" alt="plano">
                        <div class="h-full flex flex-col items-start justify-between relative px-4">
                            <img class="h-28 md:h-auto absolute right-8 md:relative mb-4" src="https://llosaedificaciones.com/img/proyecto_pacific_soul/planos/mini-plano-malecon-t05.png" alt="plano">
                            <div class="max-w-[330px]">
                                <h4 class="ffBeatriceLight text-xl md:text-4xl text-[#023143]">Tipo 05</h4>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-2 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] leading-normal m-0">
                                    4 Dormitorios <br>
                                    Área techada: 162.75 m² <br>
                                    Área Ocupada: 162.75 m²
                                </p>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-3 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] mb-0">Dptos. 201, 301
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slide plano malecon tipo 6 -->
                <div class="swiper-slide" role="group" aria-label="6 / 6" style="width: 975px;">
                    <div class="md:h-[553px] flex flex-col items-center md:flex-row md:items-end justify-center gap-8 lg:gap-20">
                        <img class="h-80 md:h-auto" src="https://llosaedificaciones.com/img/proyecto_pacific_soul/planos/plano-malecon-t06.png" alt="plano">
                        <div class="h-full flex flex-col items-start justify-between relative px-4">
                            <img class="h-28 md:h-auto absolute right-8 md:relative mb-4" src="https://llosaedificaciones.com/img/proyecto_pacific_soul/planos/mini-plano-malecon-t06.png" alt="plano">
                            <div class="max-w-[330px]">
                                <h4 class="ffBeatriceLight text-xl md:text-4xl text-[#023143]">Tipo 06</h4>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-2 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] leading-normal m-0">
                                    3 Dormitorios <br>
                                    Área techada: 129.89 m² <br>
                                    Área Ocupada: 129.89 m²
                                </p>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-3 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] mb-0">Dptos. 202, 302
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-318655cc1a8239ca" aria-disabled="false"></div>
            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-318655cc1a8239ca" aria-disabled="false"></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
    </div>
</section>

<script>
    // import Swiper JS
    import Swiper from 'swiper'
    import { Navigation, Autoplay } from 'swiper/modules'

    document.addEventListener("DOMContentLoaded", _ => {
        new Swiper(".swiperPlanos", {
            modules: [Navigation, Autoplay],
            slidesPerView: 1,
            spaceBetween: 30,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        })
    })
</script>