---
import "../styles/header.css";
import logoMobileSrc from '@assets/logo_mobile.svg';
import logoBptlSrc from '@assets/logo-bptl-white.png';
import Social from "./Social.astro";
---

<header class="main-header">
    <div class="container max-w-[1200px] mx-auto px-2.5">
        <div class="header">
            <div class="header-left">
                <div class="icon-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <a class="logo" href="https://llosaedificaciones.com">
                    <figure style="background-color: transparent;">
                        <img src={logoMobileSrc.src} alt="logo">
                    </figure>
                </a>
            </div>
            <div class="header-right">
                <a href="#" id="botton-to-form" class="btn">COTIZA AQUÍ</a>
                <nav class="social-network only-desktop">
                    <Social />
                </nav>
                <a href="https://llosaedificaciones.com/conocenos#bptl">
                    <img class="header-bptl" src={logoBptlSrc.src} alt="logo best place to live">
                </a>
            </div>
        </div>
    </div>
</header>

<script>
    const iconMenu = document.querySelector('.icon-menu')

    iconMenu?.addEventListener('click', _ => {
        iconMenu.classList.toggle('hamburguesa_girar')
        document.querySelector('.main-menu-mobile')?.classList.toggle('active');
    })
</script>